[submodule "server/static/esprima"]
	path = server/static/esprima
	url = https://github.com/ariya/esprima.git
[submodule "server/static/develop/esprima"]
	path = server/static/develop/esprima
	url = https://github.com/ariya/esprima.git
