[submodule "server/static/esprima"]
	path = server/static/esprima
	url = https://github.com/ariya/esprima.git
[submodule "server/static/develop/esprima"]
	path = server/static/develop/esprima
	url = https://github.com/ariya/esprima.git
[submodule "seeit-services/seeitservices/static-develop/esprima"]
	path = seeit-services/seeitservices/static-develop/esprima
	url = https://github.com/ariya/esprima.git
[submodule "seeit-services/submodules/logdb"]
	path = seeit-services/submodules/logdb
	url = git@github.com:ianb/logdb.git
[submodule "seeit-services/seeitservices/static-develop/doctestjs"]
	path = seeit-services/seeitservices/static-develop/doctestjs
	url = git@github.com:ianb/doctestjs.git
[submodule "seeit-services/seeitservices/static-develop/ace"]
	path = seeit-services/seeitservices/static-develop/ace
	url = git://github.com/ajaxorg/ace.git
[submodule "seeit-services/submodules/123done"]
	path = seeit-services/submodules/123done
	url = git@github.com:ianb/123done.git
[submodule "seeit-services/submodules/todomvc"]
	path = seeit-services/submodules/todomvc
	url = git@github.com:ianb/todomvc.git
[submodule "seeit-services/submodules/thecutout"]
	path = seeit-services/submodules/thecutout
	url = https://github.com/ianb/thecutout.git
